<div class="grid place-items-center">
  <h4 class="text-bold text-lg">enclose.donkey</h4>
</div>
<br/>
<div class='flex flex-col items-center w-fit mx-auto grid-container'>
    @for (row of puzzleGrid; track $index) {
      <div class='flex'>
        @for (cell of row; track $index) {
          <div [ngClass]='cell.color' class='cell 
               text-white grid place-items-center text-bold text-4xl'
               (click)="cellClicked(cell)">{{cell.hasDonkey ? '----o\n/\\/\\' : ''}}</div>
        }
      </div>
    }
    @if (!submitted) {
      <div class="flex justify-between items-start self-stretch w-full">  
        <button class="btn" (click)="submit()" [disabled]="score === 0">Submit Answer</button>
        <h4 class="text-bold text-lg">{{currentWalls}} / {{maxWalls}} walls used</h4>
        <div>
          <h4 class="text-bold text-lg">Score: {{score}}</h4>
          <h4 class="text-bold text-lg">Best Score: {{bestScore}}</h4>
          @if (bestScore != 0) {
            <button class="btn w-25" (click)="setBestLayout()">Reset to Best</button>
          }
        </div>
      </div>
    } @else {
      <h4 class="text-bold text-lg">Score: {{score}}</h4>
      <h4 class="text-bold text-lg">Optimal Score: {{answerScore}}</h4>
      <button class="btn w-50" (click)="toggleAnswer()">{{showingAnswer ? 'See Your Answer' : 'See Optimal Answer'}}</button>
    }
</div>